<h1>Menu</h1>

<div class="actions">
  <div>
    <button class="btn btn-primary block" (click)="viewBalance()">View Current Balance</button>
  </div>
  <div>
    <button class="btn btn-primary block" (click)="debitBalance()">Debit Balance</button>
  </div>
  <div>
    <button class="btn btn-primary block" (click)="creditBalance()">Credit Balance</button>
  </div>
  <div>
    <button class="btn btn-primary block" (click)="viewTransactions()">View Transactions</button>
  </div>
</div>
