<h1>Last 10 Transactions</h1>

<p *ngIf="!transactions"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="transactions">
  <thead>
    <tr>
      <th>Date Posted</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Running Balance</th>
      <th>Reference #</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>{{ transaction.created_at | date:'MMM d, y h:mm a' }}</td>
      <td>{{ transaction.transaction_type }}</td>
      <td>PHP {{ transaction.amount | number:'1.2-2' }}</td>
      <td>PHP {{ transaction.running_balance | number:'1.2-2' }}</td>
      <td>{{ transaction.reference_number }}</td>
    </tr>
  </tbody>
</table>

<div>
  <button class="btn btn-primary" id="backBtn" (click)="backToMenu()">Back</button>
</div>
