<h1>Account Details</h1>

<p *ngIf="!account"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="account">
  <thead>
    <tr>
      <th>Account Number</th>
      <th>Account Name</th>
      <th>Running Balance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ account.account_number }}</td>
      <td>{{ account.account_name }}</td>
      <td>PHP {{ account.running_balance | number:'1.2-2' }}</td>
    </tr>
  </tbody>
</table>

<div>
  <button class="btn btn-primary" id="backBtn" (click)="backToMenu()">Back</button>
</div>
